.main-footer {
  background: #6A2C70;
  padding: 2rem;
  padding: 3rem;
  color:#F9ED69
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: block;
  margin: 1rem 0;
}

.main-footer__link a {
  text-decoration: none;
  color: #F08A5D;
  display: inline;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #F9ED69;
}
