#section-todo-list {
  padding: 1rem;
  background-color: #b83b5e;
  color: #192655;
  text-align: center;
  margin: 0 auto;
  min-height: 500px;
}

.todo-list__list {
  list-style: none;
}

.todo-list__item {
  margin: 1rem auto;
  font-family: inherit;
  font-weight: bold;
  height: 3rem;
  text-align: center;
  vertical-align: middle;
  padding-top: 12px;
}

.todo-list__item:hover {
  color: #0802a3;
  border: 1px solid #192655;
  background-color: #f3f0ca;
  cursor: pointer;
}
